@import "../../../styles/settings.scss";

.root {
  box-shadow: 2px 3.464px 6px rgba(1, 2, 2, 0.2);
  background-color: #ffffff;
  :global(.container) > :global(.row) {
    height: 84px;
  }

  .menu {
    display: flex;
    align-self: stretch;

    ul {
      margin: 0;
      padding: 0;
      display: flex;

      li {
        list-style: none;
        display: flex;
        align-items: stretch;
      }
    }

    a {
      color: $text-color;
      text-transform: uppercase;
      font-size: 12px;
      padding: 1rem;
      text-decoration: none;
      display: flex;
      align-items: center;
      border-top: 4px solid #ffffff;
      font-weight: 500;
      letter-spacing: 1px;
      @include hover-animation;
      text-align: center;

      &:hover,
      &.active {
        background-color: $primary;
        color: #ffffff;
        border-color: $primary;
      }

      &.active {
        border-color: $text-color;
      }
    }
  }

  .hamburger {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .root {
    :global(.container) > :global(.row) {
      flex-direction: column-reverse;
      height: auto;
    }

    .menu {
      display: flex;
      justify-content: center;
    }
  }

  .col {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 767px) {
  .menu {
    width: 100vw;
    margin: 0;
    padding: 0;
    height: 0;
    overflow: hidden;
    z-index: 100;
    ul {
      width: 100%;
      flex-direction: column;
      background-color: #ffffff;

      li {
        width: inherit;

        a {
          width: inherit;
          justify-content: center;

        }
      }
    }
    transition: all 0.25s ease-in-out;
  }
  .root {
    .hamburger {
      display: flex;
      justify-content: center;
      border: none;
      background-color: $primary;
      color: #FFF;
      border-radius: 3px;
      margin: 0 5px;
      height: 45px;
      width: 45px;
    }
  }

  .col {
    display: flex;
    justify-content: center;
    height: 100%;
    padding: 0;
  }

  .box {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    padding: 0;
    align-items: center;
    justify-content: center;
  }

  .toggled {
    height: 450px;
  }
}
