@import "../../../styles/settings.scss";

.main {
  background-color: #2a2a2a;
  color: #ffffff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  padding: 10px 30px;

  &:not(.noHover):hover {
    color: #ffffff !important;
    background-color: $primary;
    text-decoration: none;
  }
}

.small {
  @extend .main;
  font-size: 13px;
  line-height: 24px;
  padding: 5px 10px;
  font-weight: 400;
}

.promoted {
  @extend .small;
  display: inline-block;
}

.promotedOld {
  @extend .promoted;
  background-color: #ffffff;
  color: #e2e2e2;
  display: inline-block;
  text-decoration: line-through;
}

.outline {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #2a2a2a;
  color: #2a2a2a;
  font-size: 13px;
  line-height: 22px;

  &:not(.noHover):hover {
    background-color: #2a2a2a;
    color: #ffffff;
  }
}

.outlinePromoted {
  @extend .outline;
  margin-right: 4px;
}

.oldPrice {
  @extend .outline;
  border: #ffffff;
  color: $header-topbar-bg;
  text-decoration: dashed;
}
