@import "../../../styles/settings.scss";

.circle {
  background-color: $button-bg;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: inline-block;
  margin-right: 5px;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  opacity: 0.8;
  padding-top: 10px
}