@import "../../../styles/settings.scss";

.root {
  .panelBar {
    margin-bottom: 30px;
    position: relative;

    :global(.row) > * {
      border-bottom: 4px solid $furniture-border;
    }

    .heading {
      position: relative;

      h3 {
        color: $primary;
        text-transform: uppercase;
        font-size: 20px;
        line-height: 38px;
        margin: 0;
        letter-spacing: 1px;
      }

      &::before {
        content: "";
        position: absolute;
        bottom: -4px;
        left: 0;
        width: 45px;
        border-bottom: 4px solid $primary;
      }
    }

    .menu {
      text-align: center;
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
          display: inline-block;
          margin: 0 0.5rem;
          font-weight: 600;

          a {
            color: $furniture-text;
            position: relative;
            text-decoration: none;
            font-size: 18px;
            display: block;
            @include hover-animation;

            &.active,
            &:hover {
              &::before {
                content: "";
                position: absolute;
                bottom: -4px;
                left: 0;
                width: 100%;
                border-bottom: 4px solid $primary;
              }
            }
          }
        }
      }
    }

    .dotsOnRight {
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  .centerDots {
    display: block;
    width: 100%;
    text-align: center;
  }
  .dots {
    margin: 0;
    padding: 0 0 0 1rem;
    list-style: none;
    background-color: $furniture-bg-1;
    transform: translateY(15px);

    li {
      display: inline-block;
      margin-left: 0.5rem;

      a {
        display: block;
        width: 13px;
        height: 13px;
        border-radius: 6px;
        background-color: $furniture-bg-2;
        font-size: 0;

        &.active,
        &:hover {
          background-color: $primary;
        }
      }
    }
  }

  .comperedContainer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background: $furniture-bg-1;
    position: fixed;
    right: 20px;
    bottom: 20px;
    border: 1px solid $furniture-border-2;
    z-index: 999;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      max-width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .close {
      position: absolute;
      top: 0px;
      right: 5px;
      font-weight: bold;

      &:hover {
        cursor: pointer;
        color: $primary;
      }
    }

    .productImage {
      position: relative;
      width: 80px;
      height: 80px;
      border: 1px solid $furniture-border-2;
      margin-right: 15px;

      .close {
        display: none;
      }

      &:hover .close {
        display: inline-block;
      }
    }

    a:hover {
      text-decoration: none;
    }
  }
}

.fadeEnter, .fadeAppear {
  opacity: 0;
  transform: scale(0.7);
  left: -200px;
}

.fadeEnterActive, .fadeAppearActive {
  opacity: 1;
  transform: translateX(0);
  transition: all 500ms ease-in-out;
  left: 0;
}

.fadeExit {
  opacity: 1;
  left: -280px;
}

.fadeExitActive {
  opacity: 0;
  transform: scale(0.7);
  left: 200px;
  transition: all 500ms ease-in-out;
}

