@import "../../../styles/settings.scss";

.root {
  background-color: $background-main-5;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      line-height: 55px;
      position: relative;

      .actualCurrency {
        &:hover {
          cursor: pointer;
          color: $primary;
        }
      }

      .currenciesContainer {
        position: absolute;
        display: flex;
        flex-flow: column nowrap;
        left: 0;
        bottom: -70px;
        z-index: 999;
        padding: 10px;
        background-color: $background-main-5;
        display: none;

        h6 {
          margin: 0;
          font-size: 14px;
        }
        h6:nth-of-type(2) {
          padding: 10px 0;
        }

        h6:hover {
          color: $primary;
          cursor: pointer;
        }
      }

      .open {
        display: flex;
      }

      div {
        display: inline-block;
        color: #ffffff;
        font-size: 13px;
      }

      a {
        color: $top-bar-text;
        font-size: 13px;
        @include hover-animation;

        &:hover {
          color: $primary;
          text-decoration: none;
        }
      }
    }
  }

  .topOptions ul li {
    margin-right: 1.5rem;

    .icon {
      margin-left: 5px;
    }
  }

  .topMenu ul li {
    margin-left: 1.5rem;

    .icon {
      margin-right: 5px;
    }
  }
}

@media (max-width: 576px) {
  .topMenu ul li a span {
    display: none;
  }
}
