@import "../../../styles/settings.scss";

.promo {
  width: 100%;
  height: 600px;
  background-color:red;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .info {
    position: absolute;
    width: 75%;
    height: 200px;
    top: 60px;
    left:70px;

    p {
      color: $text-color;
      text-transform: uppercase;
      font-size: 18px;
      margin:0;
    }

    span {
      color: green;
      font-size: 40px;
      font-weight: 700;
      margin:0;
    }

    h2 {
      color: $primary;
      font-size: 40px;
      font-weight: 700;
      margin-top: 5px;
      margin-bottom: 40px;
    }
  }
}
