
.actions {
  position: absolute;
  margin-left:15px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;

  .action {
    display: flex;
  }

  .info {
    display: none;
  }

  .icon:hover + .info {
    height: 30px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 20px;
    background-color: black;
    color: white;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index:2;
    position: relative;
  }

  .info::before {
     content: "";
     position: absolute;
     transform: rotate(45deg);
     bottom:8px;
     left: -7px;
     width: 15px;
     height: 15px;
     background-color: black;
     z-index:1;
  }
}
