$base-padding: 24px;

$header-topbar-bg: #434343;
$header-bg: #363636;

$brands-border: #e3e3e3;

$footer-claim-bg: #2a2a2a;
$footer-bg: #363636;

$primary: #d58e32;

$text-color: #2a2a2a;

$form-border-color: #292929;

$compared-container-bg: #fff;

@mixin hover-animation($all: false, $color-time: 0.25s, $bg-color-time: 0.25s) {
  @if ($all) {
    transition: all 0.25s;
  } @else {
    transition: color $color-time, background-color $bg-color-time;
  }
}
