/* Colors settings - DON'T USE THIS VARIABLES! */

    $header-topbar-bg: #434343;
    $header-bg: #363636;

    $footer-claim-bg: #2a2a2a;
    $footer-bg: #363636;


    //leading
    $primary: #d58e32;

    //texts
    $text-color: #2a2a2a;
    $text-color-2: #ffffff;

    //backgrounds
    $background-main-1: #ffffff;
    $background-main-2: #2a2a2a;
    $background-main-3: #f4f5f7;

    //borders
    $border-1: #b6b6b6;
    $border-2: #e1e1e1;
    $border-3: #2a2a2a;

    //icons
    $icon-1: #ffffff;
    $icon-2: rgb(42, 42, 42);


    $form-border-color: #292929;


/* Colors settings - VARIABLES TO USE IN COMPONENTS */

    //Buttons
    $button-text: $text-color-2;
    $button-bg: $background-main-2;

    //FeatureBox
    $icon-active: $icon-1;
    $icon: $icon-2;
    $feature-border: $border-1;
    $feature-bg: $background-main-1;
    $feature-text: $text-color;

    //ProductBox
    $product-box-bg: $background-main-1;
    $product-box-photo-bg: $background-main-3;
    $product-box-border-1: $border-2;
    $product-box-border-2: $border-3;
    $product-box-text:  $text-color-2;
    $product-box-stars: $icon-2;

/* Settings */

$base-padding: 24px;


