@import "../../../styles/settings.scss";

.comperedContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background: $furniture-bg-1;
  position: fixed;
  right: 20px;
  bottom: 20px;
  border: 1px solid $furniture-border-2;
  z-index: 999;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .close {
    position: absolute;
    top: 0px;
    right: 5px;
    font-weight: bold;

    &:hover {
      cursor: pointer;
      color: $primary;
    }
  }

  .productImage {
    position: relative;
    width: 80px;
    height: 80px;
    border: 1px solid $furniture-border-2;
    margin-right: 15px;

    .close {
      display: none;
    }

    &:hover .close {
      display: inline-block;
    }
  }

  a:hover {
    text-decoration: none;
  }
}
