@import "../../../styles/settings.scss";

.root {
  border: 1px solid  $search-border;
  display: inline-flex;
  height: 45px;
  color: $search-text;

  .category {
    border-right: 1px solid  $search-border;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0;

    .mainList {
      margin: 0;
      position: relative;
      z-index: 1;
      height: 100%;
      list-style-type: none;
      width: 100%;

      .categoryList {
        display: block;
        border: none;
        background-color: transparent;
        left: -20%;
        top: 20%;

      }

      li {
        position: relative;
        padding-left: 30px;
        display:none;
        width: 100%;
        height: 100%;
        border:  1px solid $search-border;
        background-color: $search-bg-1 ;
      }

    }

    .mainList:hover {
      .subList {
        display: block;
        width: 100%;
      }
    }

    &:hover {
      background-color: $primary;

      .icon:first-child {
        color: $search-text;
      }
    }

    .icon:first-child {
      color: $primary;
      position: absolute;
      left: 10px;
      z-index: 0;
    }

    .icon:last-child {
      position: absolute;
      right: 10px;
      z-index: 0;
    }

    select {
      -webkit-appearance: none;
      border: 0;
      background-color: transparent;
      padding: 5px 30px 5px 35px;
      position: relative;
      z-index: 1;
      font-size: 14px;

      &:focus {
        outline: 0;

        option {
          background-color: $search-bg-1;
          color: $search-text;
        }
      }
    }
  }

  .searchField {
    display: flex;
    align-items: center;
    position: relative;

    input {
      border: 0;
      padding-left: 10px;
      font-size: 14px;
      outline: none;

      &::placeholder {
        color: $search-text;
      }
    }

    button {
      border: 0;
      background-color: transparent;
      outline: none;
    }
  }
}

@media (max-width: 767px) {
  .root {
    border: none;
    display: flex;
    flex-direction: column;
    .searchField {
      border: 1px solid $search-border;
      width: 100%;
    }

    .category {
      border: 1px solid $search-border;
      margin: 2px 0;
    }
  }
}
