@import "../../../styles/settings.scss";

.root {
  height: 400px;
  margin: auto;
  background-color: $background-main-6;

  .title {
    text-transform: uppercase;
  }

  p {
    text-transform: capitalize;
    text-align: right;
  }
}

.container {
  padding: $base-padding;
  margin: -250px auto 100px;
  background-color: $background-main-1;
  border: 1px solid $background-main-11;
  position: relative;
  padding: 10px 0 10px 0;

  .row {
    margin: 0;
    padding: 3px 0;
  }
  .slidebutleft {
    position: absolute;
    bottom: 12%;
    left: 1%;
  }
  .slidebutright {
  position: absolute;
  bottom: 12%;
  right: 1%;

  }

  .bigimg {
    background-color: $background-main-11;
    height: 500px;
    margin: 5px;
    width: 100%;
    position: relative;

    .expandbut {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }

  .sliderwrapper {
    height:100%;
    width:100%;

    .slider {
      display: flex;
      flex-wrap: wrap;

      .slide {
        display: inline-block;
        flex-grow: 1;
        background-color: $background-main-11;
        height: 100px;
        margin: 10px ;
      }
    }
  }

  .description {
    padding: 10px;

    .subtitle {
      font-size: 25px;
    }

    .previousbut {
      margin: 5px;
    }

    .nextbut {
      margin: 5px;
      background-color: $primary;
      color: white;
    }

    .divider {
      border-top: 1px solid #7f7f7f;
    }

    .oldPrice {
      display: inline-block;
      padding: 0 5px;
      font-weight: 300;
      font-size: 20px;
      color: $background-main-6;
      text-decoration-line: line-through;
      text-decoration-color: $background-main-6;
      text-decoration-thickness: 3px;
    }

    .smallbut {
      margin: 5px;
    }

    .cartbut {
      margin: 5px;
      background-color: $primary;
      color: white;
    }

    .quantitybut {
      margin: 5px 5px 5px 40px;
      width: 100px;
      text-align: center;
    }
    .plusbut {
      margin: 5px;
      color: $primary;
      border-color: $primary;
    }

    .pricebut {
      font-weight: 500;
      font-size: 20px;
    }
    .quantitytext {
      margin: 10px;
    }

    .socialbuttons {
      margin: 2px;
      height: 40px;
      width: 100px;
      text-align: center;
    }
    .fbbutton {
      margin: 2px;
      height: 40px;
      width: 100px;
      text-align: center;
      color: white;
      background-color: blue;
    }
  }
}
