@import "../../../styles/settings.scss";

.root {
  height: 400px;
  margin: auto;
  background-color: $background-main-11;

  .sectionTitle {
    text-transform: uppercase;
  }

  p {
    text-transform: capitalize;
    text-align: right;
  }
}
