@import "../../../styles/settings.scss";

.newsletter {
  background-color: $background-main-11;

  .newscontainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .news {
      text-transform: uppercase;
      color: $primary;
      font-size: 24px;
      font-weight: bolder;
      margin: 10px;
    }

    .newsform {
      width: 400px;
      margin: 10px;
    }

    .newsbut {
      background-color: $background-main-1;
      color: $primary;
      height: 40px;
      width: 40px;
      text-align: center;
      margin: 10px;
    }
  }
}
