@import "../../../styles/settings.scss";

$border-color: #e0dede;

.gallery {
  width: 550px;
  height: 600px;
  // background-color: pink;

  a:link {
    text-decoration: none;
  }

  h3 {
    color: $primary;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 38px;
    margin: 0;
    letter-spacing: 1px;
    border-bottom: 4px solid $border-color;

    &::before {
      content: "";
      position: absolute;
      top: 38px;
      left: 8;
      width: 45px;
      border-bottom: 4px solid $primary;
    }
  }

  .menu {
    text-align: center;
    height: 50px;
    margin: 0;
    padding: 0;
    margin-top: 30px;

    ul {
      height: 100%;
      list-style: none;
      padding: 0;
      display: flex;
      align-items: center;

      li {
        width: 100%;
        display: inline-block;
        font-weight: 600;
        text-transform: uppercase;
        align-self: stretch;
        display:flex;
        align-items: center;
        justify-content: center;
        border-top: 1px solid $border-color;
        border-left: 1px solid $border-color;
        border-bottom: 1px solid $border-color;

        &:last-child {
          border-right: 1px solid $border-color;
        }

        &:hover {
          background-color: #e3e1e1;
          border-bottom: none;
          border-top: 3px solid $primary;

           a {
            color: $primary;
          }
        }
      }
    }
  }

  .product {
    background-color: #e3e1e1;
    height: 390px;
    position: relative;
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .slider {
    width:100%;
    height: 88px;
    display: flex;
    align-items: stretch;
    padding: 8px;
    border: 1px solid $border-color;

    .arrow {
      width: 30px;
      background-color: black;
      display: flex;
      align-items: center;
      justify-content: center;

      a {
        color: white;

        &:hover {
          color: $primary;
        }
      }


    }

    .thumbnails {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .thumbnail {
      width: 100%;
      height: 100%;
      background-color: yellow;
      margin: 5px;
      color: white;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}


